# When adding additional environment variables, the schema in "/env/schema.mjs"
# should be updated accordingly.

NODE_ENV=development
VERCEL_ENV=development
VERCEL_BRANCH_URL=localhost:3000

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="dummy_secret_to_replace"
NEXTAUTH_URL="http://localhost:3000"

# Default localhost database
## For Docker postgres service
POSTGRES_USER=admin
POSTGRES_PASSWORD=dummy_password
POSTGRES_DATABASE=remplamed-db

## For Prisma
POSTGRES_URL=postgres://admin:dummy_password@localhost:5432/remplamed-db
DATABASE_URL="postgres://alexandregirbal:iamastrongpassword@localhost:5432/remplamed-db"
POSTGRES_PRISMA_URL="postgres://alexandregirbal:iamastrongpassword@localhost:5432/remplamed-db?pgbouncer=true&connect_timeout=15"

# Next Auth Google Provider
GOOGLE_CLIENT_ID="go_to_https://console.cloud.google.com/apis/credentials"
GOOGLE_CLIENT_SECRET="go_to_https://console.cloud.google.com/apis/credentials"

# Payment service
MOLLIE_API_KEY="go_to_https://www.mollie.com/dashboard/developers/api-keys"
