NODE_ENV="development"
VERCEL_ENV="development"
VERCEL_BRANCH_URL="localhost:3000"

POSTGRES_URL="postgres://alexandregirbal:iamastrongpassword@localhost:5432/remplamed-db"
POSTGRES_PRISMA_URL="postgres://alexandregirbal:iamastrongpassword@localhost:5432/remplamed-db?pgbouncer=true&connect_timeout=15"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="iamastrongsecret"

GOOGLE_CLIENT_ID="737527072026-h6elep6ivem4usf1rbn5aam4a473v674.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

MOLLIE_API_KEY="test_ugeUytPkUBrW6cFcjcgkM7rsHMcTdT"