NODE_ENV="development"
VERCEL_ENV="development"
VERCEL_BRANCH_URL="localhost:3000"

MONGODB_URL=mongodb://root:rootpassword@localhost:27018/remplamed-app?authSource=admin

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="iamastrongsecret"

GOOGLE_CLIENT_ID="client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="client_secret"

MOLLIE_API_KEY="mollie_api_key"


EMAIL_USER="email@gmail.com"
EMAIL_PASSWORD="password_goes_here"