@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
    @apply text-primary;
    font-family: "IBM Plex Serif, arial";
    height: 100%;
}

pre {
    font-family: "IBM Plex Serif, arial";
}

* {
    @apply scrollbar-thin scrollbar-thumb-primary scrollbar-thumb-rounded-lg;
}

@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker-popper {
    z-index: 11;
}
